<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="../public/allstyles.css">
    <title>Detail</title>
</head>
    <nav class="z-depth-5" name="navigation-bar">
        <h1 class="nav-links" id="homepage"><a class="nav-href" id="homepage-link" href="homepage.html">Home</a></h1>
        <h1 class="nav-links" id="inventory"><a class="nav-href" id="inventory-link" href="inventory.html">Inventory</a></h1>
        <h1 class="nav-links" id="details"><a class="nav-href" id="details-link" href="details.html">Details</a></h1>
        
        <div class="navigation-icons-bar">
            <img class="nav-icons" id="homepage-icon" style="left: 7%;" src="https://th.bing.com/th/id/R.f304d6af9b07ef0248dfa71f2d200d3e?rik=q%2fcoenq8IAROgg&riu=http%3a%2f%2fimg07.deviantart.net%2f2cde%2fi%2f2015%2f110%2fc%2fd%2fwelcome_icon_by_voltex12345-d6jql41.png&ehk=dE0SXnl5hBt%2fXCjcwY5D6cTR9nlVXDzYSXXQARAwaaE%3d&risl=&pid=ImgRaw&r=0">
            <img class="nav-icons" id="inventory-icon" style="left: 42.75%;" src="https://i.ibb.co/4swhrpy/imageedit-12-5962208363.png">
            <img class="nav-icons" id="details-icon" style="left: 82.75%;" src="https://i.ibb.co/b3Rxmgr/imageedit-13-7644535982.png">
        </div>
    </nav>
</html>