#full-inventory-table {
    margin: -5% auto;
}

#inventory-table {
    margin: 10rem auto;
    left: 20%; 
    width: 60%;
    height: 50%;
    border: 5px solid;
}

th, td {
    text-align: center;
    border-bottom: 1px solid
}

.div-delete-button-primary {
    display: block;
    width: 17.5% !important;
    position: absolute;
    left: 81%;
    margin-top: -22.5%;
}

.div-infoedit-button-primary {
    display: block;
    width: 17.5% !important;
    position: absolute;
    left: 11.5%;
    margin-top: -22.5%;
}

#infoedit-button + #infoedit-button, #delete-button + #delete-button {
    display: block;
    margin-top: 17px;
}